@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
    <p>To use this platform, please check out your <a href="/teacher/">Teacher profile</a>.</p>
</div>
