@{
    ViewData["Title"] = "Teacher Details";
}

<div class="text-center">
   @* <h1 class="display-4">Welcome</h1>*@    
    <p>To change your details <a href="/teacher/create">enter your corrected personal data</a>.</p>
</div>